<!doctype html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
  <link rel="stylesheet" href="{%static 'CSS/style.css'%}">
  <link rel="stylesheet" href="{%static 'CSS/networking-style.css'%}">
  <title>Networking</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="../"><img class="w-75" src="{%static 'Images/logo.png'%}" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../">HOME</a>
          </li>
          <!-- Qitu -->
          <div class="dropdown">
            <li class="drop nav-item"><a class="nav-link" role="button" href="#" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">OFERTAT</a>
              <ul class="dropdown dropdown-menu">
                <li class="nav-item"><a class="dropdown-item" href="../internet">INTERNETI</a></li>
                <li class="nav-item"><a class="dropdown-item" href="../telefoni">TELEFONI</a>
                </li>
              </ul>
            </li>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="../webdesign">DESIGN</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="../networking">NETWORKING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../software">SOFTWARE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../trajnime">Trajnime</a>
          </li>
          <li class="nav-item">
            <a href="../kontakt" class="nav-link">KONTAKT</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="bgrounded">
    <h1 class="text-center parallax-text">Sherbime nga MC Networking</h1>
  </div>
  <section>
    <p class="text-center">
      <a class="btn" data-toggle="collapse" href="#multiCollapse1" role="button" aria-expanded="false"
        aria-controls="multiCollapse1">WINDOWS ACTIVE DIRECTORY</a>
      <button class="btn" type="button" data-toggle="collapse" data-target="#multiCollapse2" aria-expanded="false"
        aria-controls="multiCollapse2">FILE SERVER</button>
      <button class="btn" type="button" data-toggle="collapse" data-target="#multiCollapse3" aria-expanded="false"
        aria-controls="multiCollapse3">SHERBIME</button>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse"
        aria-expanded="false" aria-controls="multiCollapse1 multiCollapse2">Te Gjithat</button>
    </p>
    <div class="row container mx-auto">
      <div class="col-md-4">
        <div class="collapse multi-collapse" id="multiCollapse1">
          <div class="card card-body">
            <img src="{%static 'Images/activedirectory.png'%}" alt="Windows Active Directory" class="img-fluid">
            Pergjigja e nje manaxhimi te perdoruesve, kompjuterave dhe komponenteve te rrjetit informatik ku manaxhimi i
            te gjithe perdoruesve eshte ne menyre te centralizuar dhe ju ndihmon per nje menaxhim sa me te mire ne nje
            kohe sa me te shkurter.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="collapse multi-collapse" id="multiCollapse2">
          <div class="card card-body">
            <img src="{%static 'Images/fileserver.png'%}" alt="File Server" class="img-fluid w-75 mx-auto">
            Me file server administratoret kane nje vegel te fuqishme per te kuptuar, kontrolluar dhe menaxhuar
            informacionin e ruajtur ne serverat e tyre.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="collapse multi-collapse" id="multiCollapse3">
          <div class="card card-body">
            <img src="{%static 'Images/hosting.png'%}" alt="Web Hosting" class="img-fluid mb-3">
            <ul>Sherbime te ndryshme duke filluar qe nga:
              <li>Instalimi</li>
              <li>Konfigurimi dhe Mirembajtja</li>
              <li>Hosting</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="accordion" class="container">
    <div class="card">
      <div class="blue-heading py-4" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
        aria-controls="collapseOne">
        <h4 class="text-center">WSUS</h4>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="container">
          <p>Shumica kompanive perdorin produkte te Microsoft (Windows, Office)per perdororuesit e tyre. Cdo muaj
            Microsoft nxjerr perditesime per keto produkte. Me Wsus ju realizoni nje server I cili I terheq keto
            perditesime dhe pastaj I shpernadn ne te gjithe rrjetin tuaj. Ne kete menyre ju do te kurseni bandwidth
            pasi nuk do te terhiqni nga interneti informacion per cdo kompjuter, qe ne rastin e nje kompanie me 50+
            perdorues do te ishte nje sasi e madhe.</p>
        </div>
      </div>
      <div class="card">
        <div class="blue-heading py-4" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <h4 class="text-center">Printer Server</h4>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="container">
            <p>Sot shume kompani perdorin printer te cilet jane te lidhur ne rrjet. Print Server eshte nje ndermjetes qe
              bent e mundur lidhjen ndermjet klienit dhe printerit ne rrjet . Ai pranon kerkesen e perdoruesit per print
              dhe e dergon ate ne printer.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="blue-heading py-4" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
          aria-controls="collapseThree">
          <h4 class="text-center">DNS(Domain Name Server)</h4>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="container">
            <p>Ben perkthimin e adresa ne internet <a href="../">www.mcn.al</a> ne adresa IP “ 10.10.10.10”
              Ju nuk keni nevoje te perdorni nje dns te jashtme per kerkesat tuaja pasi mund te perdorni nje DNS locale.
              Ne kete menyre navigimi ne internet do te jete me I shpejte pasi kerkesat do te “perkthehen” direct ne
              serverin tuaj local dhe nuk ka nevoje te dalin ne nje server tjeter jashte rrjetit tuaj duke rritur kohen
              e pergjigjes.</p>
          </div>
        </div>
      </div>
      <div class="card">

        <div class="blue-heading py-4" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
          aria-controls="collapseFour">
          <h4 class="text-center">DHCP (Dynamic Host Configuration Protocol)</h4>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="container">
            <p>Nje server qe I jep IP kompjuterave ne rrjetin tuaj ne menyre automatike duke eleminuar kohen per
              vendosjen e IP ne menyre manual ne cdo kompjuter ne rrjetin tuaj.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-3 text-center col-sm-6">
          <img src="{%static 'Images/logo.png'%}" alt="" class="img-fluid">
          <a href="mailto:mcnalbania@gmail.com" class="mt-4">mcnalbania@gmail.com</a>
        </div>
        <div class="col-md-3 col-sm-6">
          <div>
            <h6>SERVISET</h6>
            <li class="mb-1"><a href="../internet#ofertatinternet">Internet</a></li>
            <li class="mb-1"><a href="../trajnime#trainim">Trajnimet</a></li>
            <li class="mb-1"><a href="{%static 'PDF/TREGUESIT_INTERNET_VITI_2019.pdf'%}" target="_blank">Treguesit
                Internet</a></li>
            <li class="mb-1"><a href="{%static 'PDF/TREGUESIT_TELEFONIKE_VITI_2019.pdf'%}" target="_blank">Treguesit
                Telefonike</a></li>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div>
            <h6>MBI NE</h6>
            <li class="mb-1"><a href="../#trust">Ekipa</a></li>
            <li class="mb-1"><a href="../webdesign#portofolio">Portofolio</a></li>
            <li class="mb-1">MC NETWORKING SH.P.K, themeluar me
              23/10/2007</li>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div>
            <h6>ADDRESA JONE</h6>
            <li class="mb-1">Rrg Pjeter Bogdani,</li>
            <li class="mb-1">Tirana,</li>
            <li class="mb-1">Albania.</li>
            <div class="icons">
              <a href="https://www.facebook.com/MCN-get-connected-390632191014075/" target="_blank"><i
                  class="fab fa-facebook-f p-1"></i></a>
              <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram p-1"></i></a>
              <a href="https://twitter.com/MC_Networking" target="_blank"><i class="fab fa-twitter p-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <p class="text-center copyright">&copy;2020 copyrights. All rights reserved <a class="vision" target="_blank"
          href="https://www.vision-agency.com/">Vision-agency</a> </p>
    </div>
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="{%static 'JavaScript/dropdown.js'%}"></script>
</body>

</html>