<!doctype html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
  <link rel="stylesheet" href="{%static 'CSS/style.css'%}">
  <link rel="stylesheet" href="{%static 'CSS/kontakt-style.css'%}">
  <title>Kontakt</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="../"><img class="w-75" src="{%static 'Images/logo.png'%}" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../">HOME</a>
          </li>
          <!-- Qitu -->
          <div class="dropdown">
            <li class="drop nav-item"><a class="nav-link" role="button" href="#" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">OFERTAT</a>
              <ul class="dropdown dropdown-menu">
                <li class="nav-item"><a class="dropdown-item" href="../internet">INTERNETI</a></li>
                <li class="nav-item"><a class="dropdown-item" href="../telefoni">TELEFONI</a>
                </li>
              </ul>
            </li>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="../webdesign">DESIGN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../networking">NETWORKING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../software">SOFTWARE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../trajnime">Trajnime</a>
          </li>
          <li class="nav-item">
            <a href="../kontakt" class="nav-link">KONTAKT</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="text-center">
    <a class="py-5 animate left mx-auto w-lg-50" href="../">Mesazhi u
      dergua me <span class="animate right">SUKESES!</span>
    </a>
  </div>

  <footer>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-3 text-center col-sm-6">
          <img src="{%static 'Images/logo.png'%}" alt="" class="img-fluid">
          <a href="mailto:mcnalbania@gmail.com" class="mt-4">mcnalbania@gmail.com</a>
        </div>
        <div class="col-md-3 col-sm-6">
          <div>
            <h6>SERVISET</h6>
            <li class="mb-1"><a href="../internet#ofertatinternet">Internet</a></li>
            <li class="mb-1"><a href="../trajnime#trainim">Trajnimet</a></li>
            <li class="mb-1"><a href="{%static 'PDF/TREGUESIT_INTERNET_VITI_2019.pdf'%}" target="_blank">Treguesit
                Internet</a></li>
            <li class="mb-1"><a href="{%static 'PDF/TREGUESIT_TELEFONIKE_VITI_2019.pdf'%}" target="_blank">Treguesit
                Telefonike</a></li>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div>
            <h6>MBI NE</h6>
            <li class="mb-1"><a href="../#trust">Ekipa</a></li>
            <li class="mb-1"><a href="../webdesign#portofolio">Portofolio</a></li>
            <li class="mb-1">MC NETWORKING SH.P.K, themeluar me
              23/10/2007</li>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div>
            <h6>ADDRESA JONE</h6>
            <li class="mb-1">Rrg Pjeter Bogdani,</li>
            <li class="mb-1">Tirana,</li>
            <li class="mb-1">Albania.</li>
            <div class="icons">
              <a href="https://www.facebook.com/MCN-get-connected-390632191014075/" target="_blank"><i
                  class="fab fa-facebook-f p-1"></i></a>
              <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram p-1"></i></a>
              <a href="https://twitter.com/MC_Networking" target="_blank"><i class="fab fa-twitter p-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <p class="text-center copyright">&copy;2020 copyrights. All rights reserved <a class="vision" target="_blank"
          href="https://www.vision-agency.com/">Vision-agency</a> </p>
    </div>
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="{%static 'JavaScript/dropdown.js'%}"></script>
</body>

</html>