<!doctype html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
  <link rel="stylesheet" href="{%static 'CSS/style.css'%}">
  <link rel="stylesheet" href="{%static 'CSS/software-style.css'%}">
  <title>Software</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="../"><img class="w-75" src="{%static 'Images/logo.png'%}" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../">HOME</a>
          </li>
          <!-- Qitu -->
          <div class="dropdown">
            <li class="drop nav-item"><a class="nav-link" role="button" href="#" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">OFERTAT</a>
              <ul class="dropdown dropdown-menu">
                <li class="nav-item"><a class="dropdown-item" href="../internet">INTERNETI</a></li>
                <li class="nav-item"><a class="dropdown-item" href="../telefoni">TELEFONI</a>
                </li>
              </ul>
            </li>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="../webdesign">DESIGN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../networking">NETWORKING</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="../software">SOFTWARE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../trajnime">TRAJNIME</a>
          </li>
          <li class="nav-item">
            <a href="../kontakt" class="nav-link">KONTAKT</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="bgrounded">
    <h1 class="text-center parallax-text">SOFTWARE</h1>
  </div>
  <section>
    <div class="container mt-2">
      <div class="container my-5 blue-border radius">
        <div class="row">
          <div class="col-md-6 text-center">
            <img class="img-fluid p-3" src='{%static "Images/stock.png"%}' alt="">
          </div>
          <div class="col-md-6 mt-5 mb-4">
            <div class="col-12">
              <h1><span class="blue-dot">MC </span>Networking</h1>
              <p class="pt-3">MC Networking zhvillimin e nje software e ben sa me te lehte dhe te besueshem per klientin
                duke i ofruar jo vetem nje zgjidhje ne planin e sistemit te biznesit por edhe ne ate ekonomik.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container my-5 blue-border radius2">
        <div class="row">
          <div class="col-md-6 mt-5 mb-4">
            <div class="col-12">
              <h1>Dallimi<span class="blue-dot"> Kryesor</span></h1>
              <p class="pt-3">Dallimi kryesor dhe pika jone kyce ne zhvillimin e software-t qendron tek vizioni yne per
                te qene partneret tuaj per te realizuar nje bashkepunim jo vetem ne software-n qe ju prodhojm por
                kompetencat teknologjike, te mirmbajtjes dhe mbi te gjitha te update-ve jane tonat.</p>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <img class="img-fluid pt-5" src='{%static "Images/difference.png"%}' alt="">
          </div>
        </div>
      </div>
      <div class="container my-5 blue-border radius">
        <div class="row">
          <div class="col-md-6 text-center">
            <img class="img-fluid p-3" src=' {%static "Images/solution.png"%}' alt="">
          </div>
          <div class="col-md-6 mt-5 mb-4">
            <div class="col-12">
              <h1><span class="blue-dot">Zgjidhja</span></h1>
              <p class="pt-3">Pervec zgjidhjes qe do ndikoje ne permisimin e punes tuaj MC Networking ka menduar edhe
                per planin ekonomik. Nuk eshte e nevojshme qe ju te beni nje investim te menjehershem i cili mund te
                ndikoje ne ekonomine tuaj por beni nje investim shume te madhe per nje zgjidhje efektive te cilin e
                paguani me qera, me nje kosot shume te ulet mujore.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <div id="accordion" class="container">
    <div class="card">
      <div class="blue-heading py-4" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
        aria-controls="collapseOne">
        <h4 class="text-center">3com</h4>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body row">
          <div class="col-md-6">
            <img src='{%static "Images/3com.png" %}' alt="" class="img-fluid w-50">
          </div>
          <div class="col-md-6">
            <p>3com IP Telephony including IP Messaging, IP Phones, IP Conferencing, IP Contact Centers
              and NBX IP
              Telephony; LAN Switches, Network Interface Cards,and wireless products.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="blue-heading py-4" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseTwo">
        <h4 class="text-center">CISCO</h4>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body row">
          <div class="col-md-6">
            <img src='{%static "Images/cisco.png"%}' alt="" class="img-fluid w-50">
          </div>
          <div class="col-md-6">
            <p>Cisco Switches, Routers, Wireless access Points and Routers, Broadband Routers, Security & VPN devices,
              Voice and IP Telephony products. Additionally, ICL who are our partners are Premier partners with Cisco
              systems.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="blue-heading py-4" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
        aria-controls="collapseThree">
        <h4 class="text-center">HP</h4>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body row">
          <div class="col-md-6">
            <img src='{%static "Images/hp.png"%}' alt="" class="img-fluid w-50">
          </div>
          <div class="col-md-6">
            <p>HP Servers, Desktops, Laptops, DigitalmCameras, Printers and Switches</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">

      <div class="blue-heading py-4" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
        aria-controls="collapseFour">
        <h4 class="text-center">Digium Asterisk</h4>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body row">
          <div class="col-md-6">
            <img src='{%static "Images/asterisk.png"%}' alt="" class="img-fluid w-50">
          </div>
          <div class="col-md-6">
            <p>ASTERISK Software and Hardware for VoIP Telephony solution</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="blue-heading py-4" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
        aria-controls="collapseFive">
        <h4 class="text-center">Microsoft</h4>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body row">
          <div class="col-md-6">
            <img src='{%static "Images/microsoft.png"%}' alt="" class="img-fluid w-50">
          </div>
          <div class="col-md-6">
            <p>Microsoft Software and Applications including Windows Desktop Operating Systems, Windows Server Operating
              Systems, MS Exchange Email Server, MS Sharepoint and others</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="blue-heading py-4" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
        aria-controls="collapseSix">
        <h4 class="text-center">FreeBSD</h4>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body row">
          <div class="col-md-6">
            <img src='{%static "Images/bsd.png"%}' alt="" class="img-fluid w-50">
          </div>
          <div class="col-md-6">
            <p>FreeBSD Operating System for High End Servers and Desktops. FreeBSD is a version of UN</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="blue-heading py-4" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true"
        aria-controls="collapseSeven">
        <h4 class="text-center">Red Hat</h4>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
        <div class="card-body row">
          <div class="col-md-6">
            <img src='{%static "Images/redhat.png"%}' alt="" class="img-fluid w-50">
          </div>
          <div class="col-md-6">
            <p>Red Hat Operating System for High End Servers and Desktops. Red Hat is a version of UNIX.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="blue-heading py-4" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true"
        aria-controls="collapseEight">
        <h4 class="text-center">Microsoft Dynamics&reg; NAV</h4>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
        <div class="card-body row">
          <div class="col-md-6">
            <img src='{%static "Images/microsoftdynamics.png"%}' alt="" class="img-fluid w-50">
          </div>
          <div class="col-md-6">
            <p>Vizioni juaj eshte kthyer ne realitet, me nje zgjidhje qe ju jep ju nje kontroll dhe pasqyre te qarte te
              biznesit tuaj dhe aftesine per te bere zgjedhjet e duhura ne permisimin dhe rritjen e fleksibitetit te
              biznesit.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="blue-heading py-4" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true"
        aria-controls="collapseNine">
        <h4 class="text-center">My Finance</h4>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
        <div class="card-body row">
          <div class="col-md-6">
            <img src='{%static "Images/my_finance.png"%}' alt="" class="img-fluid w-50">
          </div>
          <div class="col-md-6">
            <p>I realizuar nga teknologjite me moderne te zhvillimit eshte i pajisur me nje nderfaqje te kendshme per
              windows qe realizon nje funksionalitet sa me te thjeshte. Manualet ne linje, te integruara me kerkesen,
              garantojne te mesuaren sa me te shpejte dhe te thjeshte te programit. Te gjitha printimet dhe raportet
              jane te modifikueshme ne varesi te kerkesave te kompanise. Te dhenat e gjendura neper arkiva munden te
              nxirren dhe te shrytezohen nga mjetet me te perhapura te produktivitetit individual dhe te raportimit.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="blue-heading py-4" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true"
        aria-controls="collapseTen">
        <h4 class="text-center">UMS</h4>
      </div>
      <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
        <div class="card-body row">
          <div class="col-md-6">
            <img src='{%static "Images/ums.png"%}' alt="" class="img-fluid w-50">
          </div>
          <div class="col-md-6">
            <p>Sistemi UMS nuk eshte vetem nje zgjidhje e re ne treg nga ana teknologjike, por nje sistem menaxhimi i
              punuar dhe i pershtatur komfort kerkesave te insitucioneve arsimore . Ky sistem sa modern aq edhe i
              thjeshte ne llogjiken e perdorimit permirson punen dhe organizimin e strukturave administrative te
              institucioneve arsimore ne vend.Nje pune e strukturuar dhe miremenaxhuar nga stafi sjell produktivitet ne
              cilesine e nivelit arsimor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-3 text-center col-sm-6">
          <img src="{%static 'Images/logo.png'%}" alt="" class="img-fluid">
          <a href="mailto:mcnalbania@gmail.com" class="mt-4">mcnalbania@gmail.com</a>
        </div>
        <div class="col-md-3 col-sm-6">
          <div>
            <h6>SERVISET</h6>
            <li class="mb-1"><a href="../internet#ofertatinternet">Internet</a></li>
            <li class="mb-1"><a href="../trajnime#trainim">Trajnimet</a></li>
            <li class="mb-1"><a href="{%static 'PDF/TREGUESIT_INTERNET_VITI_2019.pdf'%}" target="_blank">Treguesit
                Internet</a></li>
            <li class="mb-1"><a href="{%static 'PDF/TREGUESIT_TELEFONIKE_VITI_2019.pdf'%}" target="_blank">Treguesit
                Telefonike</a></li>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div>
            <h6>MBI NE</h6>
            <li class="mb-1"><a href="../#trust">Ekipa</a></li>
            <li class="mb-1"><a href="../webdesign#portofolio">Portofolio</a></li>
            <li class="mb-1">MC NETWORKING SH.P.K, themeluar me
              23/10/2007</li>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div>
            <h6>ADDRESA JONE</h6>
            <li class="mb-1">Rrg Pjeter Bogdani,</li>
            <li class="mb-1">Tirana,</li>
            <li class="mb-1">Albania.</li>
            <div class="icons">
              <a href="https://www.facebook.com/MCN-get-connected-390632191014075/" target="_blank"><i
                  class="fab fa-facebook-f p-1"></i></a>
              <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram p-1"></i></a>
              <a href="https://twitter.com/MC_Networking" target="_blank"><i class="fab fa-twitter p-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <p class="text-center copyright">&copy;2020 copyrights. All rights reserved <a class="vision" target="_blank"
          href="https://www.vision-agency.com/">Vision-agency</a> </p>
    </div>
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="{%static 'JavaScript/dropdown.js'%}"></script>
</body>

</html>